html,
body {
    margin: 0;
    padding: 0;
    background: #eee;
    font-family: 'Lato', sans-serif;
    color: #333;
    /*the cursor doesn't change and the numbers on buttons won't get highlighted*/
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
    cursor: default;
}

.text-center {
    text-align: center;
}

.text-left {
    text-align: left;
}

.float-left {
    float: left;
}

table {
    margin: auto;
    /*border-spacing: 0;*/
    /*display: inline;*/
}

td input {
    margin: 0;
}

a {
    color: inherit;
    text-decoration: none;
}

a:hover {
    color: #222;
    font-weight: bold;
}

a:focus {
    color: inherit;
}

hr {
    border: 0;
    height: 1px;
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0));
}

footer {
    clear: both;
    text-align: center;
}


@media screen and (max-width: 610px) {
  header {
    height: 113px;
    padding-bottom: 80px !important;
  }
  #user-container {
    top: 72px;
    background-color: rgb(3,155,229);
    height: 38px;
    padding-top: 3px;
    padding-right: 2px;
  }
  #user-container #user-pic {
    top: 2px;
    width: 33px;
    height: 33px;
    background-size: 33px;
  }
}